.nav-Items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  padding: 10px 10px; }
  .nav-Items__icon {
    color: #ccc;
    font-size: 12px;
    margin-left: 15px; }
  .nav-Items__list {
    list-style: none; }
  .nav-Items__link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
    padding: 5px;
    width: 100%;
    color: #ffff; }
    .nav-Items__link:hover {
      background-color: #e71939;
      color: #ffff; }
    .nav-Items__link:focus {
      color: #ffad33; }

.submenu {
  background-color: #595959;
  margin: 0;
  padding: 0; }

.nav-item-layer {
  background-color: #ffb84d;
  width: 92%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px; }

.nav-item-layer a {
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .nav-item-layer a:focus {
    color: #262626; }

.nav-item-layer ul {
  background-color: #f2f2f2;
  width: 100%; }

.nav-item-layer li {
  list-style-type: none; }
