.nav-Items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  background-color: #ff6600;
  width: 92%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 3px 0; }
  .nav-Items__icon {
    color: #ccc;
    font-size: 12px;
    margin-left: 15px; }
  .nav-Items__list {
    list-style: none; }
  .nav-Items__link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
    margin: 0;
    padding: 5px;
    width: inherit;
    color: #ffff; }
    .nav-Items__link:hover {
      background-color: #e71939;
      color: #ffff; }
    .nav-Items__link:focus {
      color: #ffff; }

.submenu {
  background-color: #333;
  margin: 0;
  padding: 0; }

.nav-item-layer {
  background-color: #ffb84d; }

.nav-item-layer a {
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .nav-item-layer a:focus {
    color: #262626; }

.nav-item-layer ul {
  background-color: #f2f2f2;
  width: 100%; }

.nav-item-layer li {
  list-style-type: none; }

.Tab__appbar {
  border-radius: 5px 5px 0 0; }

.card {
  position: relative; }
  .card__title {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 5px 40px;
    border: 1px solid #e6b800;
    border-radius: 10px;
    box-shadow: 7px 7px 20px 2px  #fff5cc;
    background-color: #ffd633;
    color: #2e5cb8; }

.papers-container {
  transform: translateY(-15%); }

.dashboard__title {
  background-color: #ff9900;
  text-align: center;
  padding: 5px;
  border: 1px solid  #b36b00;
  border-radius: 5px; }
