
.nav-Items {
    @include flex-dis(column, null, space-between);
    z-index: 100;
    background-color: #ff6600;
    width: 92%;
    margin: 20px auto;
    border-radius:5px;
    padding:3px 0;

    
    @include el(icon) {
        color:#ccc;
        font-size:12px;
        margin-left: 15px;
    }
    @include el(list) {
        list-style: none;
    }
    @include el(link) {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        align-items:center;
        margin: 0;
        padding: 5px;
        width: inherit;
        color: #ffff;
        &:hover {
            background-color: map-get($back-color, linkHover-background);
            color:map-get($back-color, linkHover-color);
        }
        &:focus {
            color:map-get($back-color, linkHover-focus);
        }
    }
}

.submenu{
    background-color:#ccc;
    margin: 0;
    padding: 0;
   
}

.nav-item-layer{
    background-color: #ffb84d;

}
.nav-item-layer a{
 color :black;
 display: flex;
        justify-content: flex-start;
        align-items:center;
 &:focus {
    color: #262626

  }
}
.nav-item-layer ul{
  
    background-color:#f2f2f2;
    width:100%;

   }
   .nav-item-layer li{
    list-style-type: none;

   }
 
